@model Hairday.ViewModels.ServicoFormViewModel

@{
    ViewData["Title"] = "Selecionar Serviços";
    Layout = "~/Views/Shared/_Layout_Servicos.cshtml";
}

<main>
    <h2 class="title">Defina os serviços oferecidos e seus preços</h2>
    <div class="main-container">
        <form asp-action="Create" method="post">
            <div class="form-container">
                @Html.HiddenFor(m => m.CPF_barbeiro)
                @Html.HiddenFor(m => m.CNPJ_barbearia)

                @for (int i = 0; i < Model.ServicosDisponiveis.Count; i++)
                {
                    <div class="form-check mb-3">
                        @Html.CheckBoxFor(m => m.ServicosDisponiveis[i].Selecionado, new { @class = "form-check-input" })
                        <label class="form-check-label">
                            @Model.ServicosDisponiveis[i].NomeServico
                        </label>

                        @Html.HiddenFor(m => m.ServicosDisponiveis[i].NomeServico)

                        <div class="form-group mt-1">
                            <label>Preço:</label>
                            @Html.TextBoxFor(m => m.ServicosDisponiveis[i].Preco, new { @class = "form-control", type = "number", step = "0.01" })
                        </div>
                    </div>
                }

                <button type="submit" class="btn btn-primary">Salvar Serviços</button>
            </div>
        </form>
    </div>
</main>