@model IEnumerable<Barbeiro>

@{
    ViewData["Title"] = "Lista de Barbeiros";
}

<h1>Lista de Barbeiros</h1>

<table class="table">
    <thead>
        <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Cidade</th>
            <th>CNPJ da Barbearia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var barbeiro in Model)
        {
            <tr>
                <td>@barbeiro.CPF_barbeiro</td>
                <td>@barbeiro.nome</td>
                <td>@barbeiro.email</td>
                <td>@barbeiro.cidade</td>
                <td>@barbeiro.CNPJ_barbearia</td>
            </tr>
        }
    </tbody>
</table>

